body{
    background-color: black;
    color: rgb(173, 133, 23);
}
.a{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.b {
    text-align: center;
    width: 250px;
    margin: 40px;
}
.b img{
    width: 100%;
    border-radius: 10px;
}
.b p{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}
@media(max-width:768px){
.a {
    flex-direction: column;
    align-items: center;
}
.btn-instagram {
    margin-right: 0;
    margin-left: auto;
    margin-top: 0 !important;
    position: relative;
    margin-right: auto;
        order: 2;
   }
}
.btn-instagram {
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s;
    display: block;
    width: 80px;
    margin: 20px 0 20px auto;
    margin-top: -110px;
    margin-bottom: 20px;
    margin-left: auto;
}
.titulo-principal img{
    width: 70px;
    transform: scale(1.2)
}

.btn-instagram:hover{
    transform: scale(1.2)
}